.forum-lists {
    @media screen and (min-width: 768px){
        padding: 20px;
    }
    @media screen and (max-width: 767px){
        padding-bottom: 20px;
    }
    .forum-header {
        position: relative;
        height: 200px;  
        .forum-img {
            width: 100%;
            height: 100%;
        }    
        .forum-title {
            position: absolute;
            bottom: 20px;
            left: 20px;
            color: #fff;
            font-weight: bold;
        }      
    }
    .forum-body {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        padding: 20px;
        background-color: #fff;
        border-bottom: 1px solid #f6f6f6;
    }
    .forum-footer {
        padding: 20px;
        background-color: #fff;
        color: #bbb;
        font-size: 14px;
        .author-details {
            @media screen and (min-width: 768px){
                width: 70%;
                display: table-cell;
                vertical-align: middle;  
            }          
            .author-logo {
                width: 42px;
                float: left;
                img {
                    border-radius: 50%;
                    width: 100%;                    
                }
                .dummy-image {
                    background-color: #f6f6f6;
                    border-radius: 50%;
                    width: 100%;       
                    height: 42px;             
                }
            }
            .author-info {
               margin-left: 50px;
            }
        }
        .post-details {
            @media screen and (min-width: 768px){
                width: 30%;
                display: table-cell;
                vertical-align: middle;
                text-align: right;                
            } 
            @media screen and (max-width: 767px){
                margin-top: 10px;
                margin-left: 42px;               
            }      
            .post-reply {
                padding: 0 10px;
            }
        }
    }
}